* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.display-row {
  height: 85px;
  text-align: right;
  font-size: 65px;
  padding-right: 23px;
}

.buttons-row {
  display: flex;
  gap: 10px;
}

button {
  height: 85px;
  flex: 1;
  border: none;
  padding: 0;
  background-color: rgb(59, 59, 59);
  font-size: 25px;
  min-width: 85px;
  border-radius: 85px;
}

button#clear {
  flex: 3;
}

button#zero {
  flex: 2;
}

.operator-buttons {
  background-color: orange;
  max-width: 85px;
  font-size: 35px;
}

.special-buttons {
  background-color: rgb(190, 190, 190);
  color: black;
}

.long-button-left {
  text-align: left;
  padding-left: 35px;
}